@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #181818;
  --foreground: #FBFBF8;
  /* Canvas: Main Foreground/Headings */

  /* Brand Palette from Design Assets */
  --brand-canvas: #FBFBF8;
  --brand-mist: #DBE3E9;
  --brand-cornflower: #DBE3E9;
  --brand-pear: #E1E5AC;

  /* Semantic Mapping */
  --primary: var(--brand-cornflower);
  --accent: var(--brand-pear);
  --subtle: var(--brand-mist);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: inherit;
}